@import "../master.scss";

.top-container {
  position: relative;
  &__content {
    position: absolute;
    top: 0;
    h1 {
      font-size:5vw;
      margin: 0;
      text-align: right;
    }
    &__left {
      padding: 10vw 0 0 10vw;
      p {
        width: 32vw;
      }
    }
  }
}

.about-me {
  margin-top: 4vw;
  display: flex;
  position: relative;
  img {
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    height:40vw;
    width:40vw;
    position: relative;
    flex-grow: 1;
  }
  p {
    margin: auto 0;
    padding: 4vw;
    width: 50vw;
  }
}

.works {
  margin-top: 3vw;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  a {
    margin-left:6px;
  }
  &__medium {
    width: 40%;
    &__icon {
      width: 30vw;
      height: auto;
    }
  }

  &__github {
    width: 40%;
    &__icon {
      width: 30vw;
      height: auto;
    }
  }
}

.more-about-me {
  margin-top: 3vw;
  display: flex;
  img {
    margin-top: 6vw;
    width: 63%;
    height: 80%;
  }
  div {
    padding: 3vw;
    width: 37%;
  }
}

.contact {
  margin-top: 16vw;
  position: relative;
  &__content {
    width: 40vw;
    padding: 2vw;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 66px -5px rgba(0,0,0,0.58);
    -moz-box-shadow: 0px 0px 66px -5px rgba(0,0,0,0.58);
    box-shadow: 0px 0px 66px -5px rgba(0,0,0,0.58);
    position: absolute;
    top: 0; left: 0;
    left: 50%;
    top: 20%;
    margin: 0 0 0 -20vw;
    div {
      cursor: pointer;
      text-decoration: underline;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 768px) {
  .top-container {
    position: relative;
    width: 100%;
    &__content {
      position: absolute;
      top: 0;
      h1 {
        font-size:5vw;
        margin: 0;
        text-align: right;
      }
      &__left {
        padding: 2vw 0 0 16vw;
        p {
          font-size:3.4vw;
          width: 40vw;
        }
      }
    }
  }

  .about-me {
    margin-top: 4vw;
    display: block;
    position: relative;
    img {
      border-radius: 100%;
      height:40vw;
      width:40vw;
      position: relative;
      left: 50%;
      margin: 0 0 0 -20vw;
    }
    p {
      margin: auto 0;
      padding: 4vw;
      width: 90vw;
    }
  }

  .more-about-me {
    margin-top: 3vw;
    img {
      display: none;
    }
    div {
      padding: 4vw;
      width: 100%;
    }
  }
  .works {
    margin-top: 3vw;
    position: relative;
    display: block;
    padding: 4vw;
    a {
      margin-left:6px;
    }
    &__medium {
      width: 100%;
      position: relative;
      &__icon {
        width: 80vw;
        height: auto;
        position: relative;
        left: 50%;
        margin: 0 0 0 -40vw;
      }
    }
  
    &__github {
      width: 100%;
      position: relative;
      &__icon {
        width: 80vw;
        height: auto;
        position: relative;
        left: 50%;
        margin: 0 0 0 -40vw;
      }
    }
  }

  .contact {
    margin-top: 16vw;
    position: relative;
    &__content {
      width: 80vw;
      padding: 2vw;
      border-radius: 20px;
      -webkit-box-shadow: 0px 0px 66px -5px rgba(0,0,0,0.58);
      -moz-box-shadow: 0px 0px 66px -5px rgba(0,0,0,0.58);
      box-shadow: 0px 0px 66px -5px rgba(0,0,0,0.58);
      position: absolute;
      top: 0; left: 0;
      left: 50%;
      top: -15%;
      margin: 0 0 0 -40vw;
      div {
        cursor: pointer;
        text-decoration: underline;
        text-align: center;
      }
    }
  }
  
  
}